fastapi==0.111.0
gradio==4.31.3
langchain==0.1.20
langchain_community==0.0.38
librosa==0.10.2
minisom==2.3.2
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
scikit_learn
matplotlib
matplotlib.pyplot
